/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap";
@import "devices";
@import "mixins";
@import "fonts";
@import "variables";
@import "buttons";

body{
  font-family: $font-family-base;
  font-size: $font-base-size;
  height: 100vh;
  width: 100vw;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
