<main class='form-signin'>
  <form [formGroup]='form'>
    <div class='text-center'>
      <img class='mb-4' src='assets/icons/money.svg' alt='' width='72' height='57'>
      <h1 class='h3 mb-3 fw-normal'>נא להתחבר</h1>
    </div>

    <div class='form-floating'>
      <input type='email' class='form-control' id='floatingInput' placeholder='name@example.com'
             formControlName='userName'>
      <label for='floatingInput'>כתובת מייל</label>
    </div>
    <div class='form-floating'>
      <input type='password' class='form-control' id='floatingPassword' placeholder='Password'
             formControlName='password'>
      <label for='floatingPassword'>סיסמה</label>
    </div>
    <div class='text-center'>
      <button class='w-100 btn btn-lg btn-primary' type='button' (click)='handleSubmit(true)'>התחבר</button>
      <button class='btn btn-link' (click)='handleSubmit(false)'>הירשם</button>
    </div>

  </form>
</main>
