<div class='card mt-4'>
  <div class='card-header mx-4 p-3 text-center'>
    <div class='icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg' *ngIf='icon'>
      <i [class]='icon+" opacity-10"'></i>
    </div>
  </div>
  <div class='card-body pt-0 p-3 text-center'>
    <h6 class='text-center mb-0' *ngIf='header'>{{header}}</h6>
    <span class='text-xs' *ngIf='description'>{{description}}</span>
    <hr class='horizontal dark my-3'>
    <h5 class='mb-0' *ngIf='sum'>{{sum}}</h5>
  </div>
</div>
