@font-face {
  font-family: 'Rubik';
  src: url("../assets/fonts/static/Rubik-Regular.ttf");
  font-weight:normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url("../assets/fonts/static/Rubik-Bold.ttf");
  font-weight:bold;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url("../assets/fonts/static/Rubik-Light.ttf");
  font-weight:100;
  font-display: swap;
}

